* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #f15bb5;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #fee440;
  --backEnd: #9b5de5;
}

/*
Minhas cores:
    roxo -> #9b5de5
    rosa -> #f15bb5
    amarelo -> #fee440
    azul -> #00bbf9
    agua -> #00f5d4
*/

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 
